<IfModule mod_rewrite.c>

RewriteEngine On

##RewriteCond %{HTTPS} !=on
##RewriteRule ^ http://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

##SITE

RewriteCond %(REQUEST_FILENAME) !-f
RewriteCond %(REQUEST_FILENAME) !-d
RewriteRule ^go/(.*)/?$ index.php?page=go&step=$1

RewriteCond %(REQUEST_FILENAME) !-f
RewriteCond %(REQUEST_FILENAME) !-d
RewriteRule ^([a-z]+)/?$ index.php?page=$1

RewriteCond %(REQUEST_FILENAME) !-f
RewriteCond %(REQUEST_FILENAME) !-d
RewriteRule ^([a-z0-9]+)/item/([a-z0-9]+)/(.*)/?$ index.php?page=$1&id=$2

##ADMIN


##RewriteCond %(REQUEST_FILENAME) !-f
##RewriteCond %(REQUEST_FILENAME) !-d
##RewriteRule ^feed/?$ /app/webroot/login.php

RewriteCond %(REQUEST_FILENAME) !-f
RewriteCond %(REQUEST_FILENAME) !-d
RewriteRule ^admin/?$ /app/webroot/login.php

RewriteCond %(REQUEST_FILENAME) !-f
RewriteCond %(REQUEST_FILENAME) !-d
RewriteRule ^feed/?$ /app/webroot/login.php

RewriteCond %(REQUEST_FILENAME) !-f
RewriteCond %(REQUEST_FILENAME) !-d
RewriteRule ^feed/([a-z0-9]+)/?$ index.php?page=feed&id=$1

RewriteCond %(REQUEST_FILENAME) !-f
RewriteCond %(REQUEST_FILENAME) !-d
RewriteRule ^admin/([a-z0-9]+)/?$ index.php?page=admin&id=$1

RewriteCond %(REQUEST_FILENAME) !-f
RewriteCond %(REQUEST_FILENAME) !-d
RewriteRule ^admin/add/([a-z0-9]+)$/? index.php?page=admin&id=$1&action=add

RewriteCond %(REQUEST_FILENAME) !-f
RewriteCond %(REQUEST_FILENAME) !-d
RewriteRule ^admin/edit/([a-z0-9]+)/([a-z0-9]+)$/? index.php?page=admin&id=$1&item=$2&action=edit

RewriteCond %(REQUEST_FILENAME) !-f
RewriteCond %(REQUEST_FILENAME) !-d
RewriteRule ^admin/model/([a-z0-9]+)/([a-z0-9]+)/(.*)/?$ app/model/AdminModel.php?page=admin&action=$1&id=$2&item=$3

AddType video/quicktime .mov

##ExpiresActive On
##ExpiresByType image/jpg "access 1 year"
##ExpiresByType image/jpeg "access 1 year"
##ExpiresByType image/gif "access 1 year"
##ExpiresByType image/png "access 1 year"
##ExpiresByType text/css "access 1 month"
##ExpiresByType text/html "access 1 month"
##ExpiresByType application/pdf "access 1 month"
##ExpiresByType text/x-javascript "access 1 month"
##ExpiresByType application/x-shockwave-flash "access 1 month"
##ExpiresByType image/x-icon "access 1 year"
##ExpiresDefault "access 1 month"
